@use '../variables' as *;
@use '../mixins/breakpoints' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

//color extends
%transp_btn_1 {
	@include st_btn;
	font-family: $font_1;
	font-weight: 400;
	color: $color_white;
	background-color: $dark_shade_gray;
	transition: 0.3s ease;
	border: 2px solid $color_white;

	&:hover {
		background-color: $color_white;
		color: $color_black;
	}
}
%transp_btn_2 {
	@include st_btn;
	font-family: $font_1;
	font-weight: 700;
	color: $color_white;
	background-color: $dark_shade_gray;
	transition: 0.3s ease;
	border: 2px solid $color_white;

	/* &:hover {
		background-color: $color_white;
		color: $color_black;
	} */
}

//size extends
%btn_size_1 {
	min-width: 14.4rem;
	height: 4rem;
	padding: 1.5rem;
	line-height: 1.4em;
	font-size: 1.3rem;
	border-radius: 2rem;
}
%btn_size_2 {
	min-width: 16.6rem;
	height: 4.4rem;
	padding: 1.2rem 4rem 1.6rem;
	line-height: 1.6em;
	font-size: 1.5rem;
}




.btn_header {
	@extend %transp_btn_1;
	@extend %btn_size_1;
}
.btn_big {
	@extend %transp_btn_2;
	@extend %btn_size_2;
}